@model  List<WebBanHangOnline.Models.EF.Order>
@{
    ViewBag.Title = "MyOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<h2>MyOrders</h2>

@if (Model != null && Model.Any())
{
    int i = 1;
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Mã Đơn Hàng</th>
                <th>Ngày Đặt</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>

        </thead>
        <tbody>
            @if (Model != null && Model.Any()) // Sửa ở đây
            {
                foreach (var order in Model)
                {
                    <tr>
                        <td>@order.Code</td>
                        <td>@order.CreatedDate.ToString("dd/MM/yyyy")</td>
                        <td>@order.Quantity</td>
                        <td>@order.Quantity
                        <td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">Bạn chưa có đơn hàng nào.</td>
                </tr>
            }
            
        </tbody>


    </table>
}